---
layout: installation-page
permalink: /quick-start/
title: Quick Start
order: 1
---

<div class="topic">

    <div class="topic-header">
        <div class="topic-summary">
            <ul>
                {% assign sorted-parts = site.quick-start | sort: "order" %}
                {% for part in sorted-parts %}

                {% if part.title %}

                <li>
                    <svg>
                        <rect width="8" height="8"/>
                    </svg>
                    <a href="#{{part.title}}"> {{ part.title }} </a>
                </li>

                {% endif %}
                {% endfor %}

            </ul>
        </div>

    </div>


    {% assign sorted-parts = site.quick-start | sort: "order" %}
    {% for partial in sorted-parts %}
    {% if partial.title %}
    <div class="part-content">
        <span id="{{ partial.title }}"> </span>

        <div class="part-header">
            {% if partial.full-title %}
            <h2> {{ partial.full-title }}</h2>
            {% else %}
            <h2> {{ partial.title }}</h2>
            {% endif %}
        </div>

        <div class="step-content">
            {{ partial.content }}
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
