






/*
    <body>

    {% include header.html %}

    <article class="post">

        {% include tutorial-selector.html %}
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}
        </header>



        <div class="documentation-content">
            <div class="flex-container">
                <div class="flex-side-bar">{% include side-bar-navigation.html %}</div>
                <div class="flex-content">{{ content }}</div>

            </div>
        </div>

    </article>
*/




/*
---
layout: default
---
<article class="post">

    {% include tutorial-selector.html %}
    <header class="post-header">

        <h1 class="post-title">{{ page.title }}
    </header>


    <div class="post-content">
        <div class="flex-container">
            <div class="flex-content">{{ content }}</div>
            <div class="flex-side-bar">{% include side-bar-navigation.html %}</div>
        </div>
    </div>

</article>

*/



.documentation-content {


    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;

    min-height: 500px;

    @include media-query($on-palm) {

       min-height:0;
    }


/**
    DOCUMENTATION PAGE LAYOUT CONTENT AND NAVIGATION BAR
*/
    .flex-container {

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;

         width: 100%;


       .flex-content {

            -webkit-box-flex: 4;
            -moz-box-flex: 4;
            -webkit-flex: 4;
            -ms-flex: 4;
            flex: 4;
            overflow: hidden;
            width: 100%;

            // DEBUG
            //background-color: #337799;
       }


       .flex-side-bar {

            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin-left: 20px;
            min-width: 260px;
            max-width: 260px;
            margin-bottom: 10px;
            //background-color: #007700;
       }


        @include media-query($on-palm) {

          .flex-side-bar {
               display: none;
           }
        }

    }
}