/**
 * SITE HEADER
 */

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $header-height;
    background-color:$header-footer-background;

    // Positioning context for the mobile navigation icon
    position: relative;
    @include media-query($on-palm) {
        min-height: $header-height-mobile;
    }


}

.site-title {

    float: left;
    color: $header-text-color;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:120px;
    &,
    &:visited {
        color: $header-text-color
    }

    @include media-query($on-palm) {
         margin-bottom:5px;
         margin-top:6px;
         margin-left:110px;
         width: 100px;
    }
}

.site-title-right
{
    float: right;
    color: $header-text-color;
    margin-top:26px;
    margin-bottom:5px;
    margin-right:15px;
    &,
    &:visited {
        color: $header-text-color
    }

    @include media-query($on-palm) {
         margin-top:10px;
         margin-right:55px;
    }

    img {
        width: 51px;
        height: 51px;
    }
}


/**
    HEADER NAVIGATION BAR
*/

.site-nav {

    z-index:1000;
    float:left;

    .menu-icon {
        display: none;
    }

    .trigger {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    #link-container
    {
        padding-left:10px;
        padding-right:10px;
        height: $header-height;
        text-align:center;
    }

    #link-container:hover
    {
        background-color: $header-hover-background;
    }

    .page-link {
        text-transform: uppercase;
        color: $header-text-color;
        text-align:center;
        vertical-align:-50px;

        margin-left:0px;
        margin-right:0px;


        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
        }
    }

    .page-link:hover {
        text-decoration: none;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 15px;
        right: $spacing-unit / 2;
        background-color: $header-dropdown-background;
        border: 1px solid $grey-color-light;
        border-radius: 5px;

        #link-container
        {
            display: block;
            width: 150px;
            height: 20px;
        }

        #link-container:hover
        {
            background-color: $header-dropdown-hover-background;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .page-link {
            color: $grey-color-dark;
            display: block;

            &:not(:last-child) {
                margin-right: 0;
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
                display: block;
                padding-bottom: 5px;
        }

    }
}
