/**
    First page: index.html
*/

/*
Title
*/

.home {



     h1 {
        font-size: 55px;
        letter-spacing: -1px;
        line-height: 1;
        margin-top: 20px;
        margin-bottom: 30px;

        @include media-query($on-laptop) {
           font-size: 42px;
        }

        @include media-query($on-palm) {
            text-align: center;
            font-size: 30px;
            margin: 10px 10px;

        }
     }

    #intro-text {
        font-size: 18px;

        @include media-query($on-palm) {
            text-align: center;
            font-size: 15px;
            margin: 10px 10px;
        }
    }



      h2 {
         font-size: 31.5px;

         letter-spacing: -1px;
         line-height: 1;

         @include media-query($on-laptop) {
            font-size: 24px;

         }

         @include media-query($on-palm) {
            font-size: 22px;
         }

      }

      hr {
        margin-top: 40px;
        margin-bottom: 40px;

        @include media-query($on-palm) {
                  font-size: 24px;
        }
      }

      #category-container {

        margin-top:30px;
        display:flex;

        .category {
            padding-left:15px;
            padding-right: 15px;
        }

        p {
          text-align: justify;
        }

        div {
            flex:1;
            margin-left: 10px;
            margin-right: 10px;
        }

        a {
           font-weight:bold;
           line-height: 1;
        }


        @include media-query($on-palm) {
            margin-top:0px;
            flex-direction: column;
            p {
              font-size: 15px;
            }

        }


      }

      #github-ribbon {

        @include media-query($on-palm) {
            display:none;
        }
      }
}



.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

   @include media-query($on-palm) {
        margin-left:10px;
        font-size: 15px;
   }
}

.post-meta {
    font-size: 15px;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 22px;
    font-weight:normal;
    line-height: 1;

   @include media-query($on-palm) {
        font-size: 20px;
   }

}
