{% assign path = page.url | split:"/" %}
{% assign child-path-size = path.size | plus:1 %}
{% comment %} Main Page Info: {{path.size}} {{child-path-size}} - {{page.url}} [{{page.url | slice: -1}}]<br/> {% endcomment %}
{% assign part-contents = '' %}
{% assign table-of-contents = '' %}
{% assign current-part-title = ''%}
{% assign tabbed-part = ''%}
{% assign tabs = '' %}
{% assign sorted-pages = site.pages | sort: 'url' %}
{% for sorted-page in sorted-pages %}
    {% assign path = sorted-page.url | split:"/" %}
    {% assign page-type = sorted-page.url | slice: -1 %}                  {% comment %} <!--page type will be folder '\' or html 'l' --> {% endcomment %}
    {% assign parent-url = sorted-page.url | truncate: page.url.size, "" %}
    {% comment %} <!--{% if page.url == parent-url and page-type != "/" %}-   {{path.size}} - {{sorted-page.url}} [{{path[-1]}}][{{path[-2]}}] {{parent-url}} [{{sorted-page.url | slice: -1}}]<br/>{% endif %} --> {% endcomment %}
    {% if page.url == parent-url and path.size == child-path-size and page-type != "/" %}
        {% if sorted-page.category == 'Summary' %}
            {% capture summary %}{{ sorted-page.content }}{% endcapture %}
        {% else %}
            {% comment %} <!--Continuing a section with tabs--> {% endcomment %}
            {% if current-part-title == sorted-page.title and sorted-page.tab %}
                {% unless tabs contains sorted-page.tab %}
                    {% capture tabs %}{{tabs}}-|-{{sorted-page.tab}}{% endcapture %}
                {% endunless %}
                {% comment %} <!-- Find the index of this tab in the tabs string --> {% endcomment %}
                {% assign tab-labels = tabs | split:"-|-" %}
                {% assign tab-index = '1' %}
                {% for label in tab-labels %}
                    {% if label == sorted-page.tab %}
                        {% assign tab-index = forloop.index0 %}
                    {% endif %}
                {% endfor %}
                {% capture part-contents %}{{part-contents}}
                    <div id="tab{{tab-index}}-content" class="part-content tab-content">
                        <div class="step-content">
                            {{ sorted-page.content }}
                        </div>
                    </div>
                {% endcapture %}
            {% endif %}
            {% comment %} <!-- Starting a new section --> {% endcomment %}
            {% if current-part-title != sorted-page.title %}
                {% assign current-part-title = sorted-page.title %}
                {% capture table-of-contents %}{{ table-of-contents }}
                    <li>
                        <svg>
                            <rect width="8" height="8"/>
                        </svg>
                        <a href="#{{sorted-page.title}}"> {{ sorted-page.title }} </a>
                    </li>
                {% endcapture %}

                {% capture part-contents %}{{part-contents}}
                    <div class="part-content">
                        <span id="{{ sorted-page.title }}"> </span>
                        <div class="part-header">
                            {% if sorted-page.full-title %}
                            <h2> {{ sorted-page.full-title }}</h2>
                            {% else %}
                            <h2> {{ sorted-page.title }}</h2>
                            {% endif %}
                        </div>
                    </div>
                {% endcapture %}
                {% comment %} <!--Starting a new section with details--> {% endcomment %}
                {% if sorted-page.tab %}
                    {% assign tabbed-part = "Tabbed" %}
                    {% unless tabs contains sorted-page.tab %}
                        {% capture tabs %}{{tabs}}-|-{{sorted-page.tab}}{% endcapture %}
                    {% endunless %}
                    {% comment %} <!-- Find the index of this tab in the tabs string --> {% endcomment %}
                    {% assign tab-labels = tabs | split:"-|-" %}
                    {% assign tab-index = '1' %}
                    {% for label in tab-labels %}
                        {% if label == sorted-page.tab %}
                            {% assign tab-index = forloop.index0 %}
                        {% endif %}
                    {% endfor %}
                    {% comment %} <!-- Now start the tab-content section here. --> {% endcomment %}
                    {% capture part-contents %}{{part-contents}}
                        <div id="tab{{tab-index}}-content" class="part-content tab-content">
                            <div class="step-content">
                                {{ sorted-page.content }}
                            </div>
                        </div>
                    {% endcapture %}
                {% else %}
                    {% capture part-contents %}{{part-contents}}
                        <div class="part-content">
                            <div class="step-content">
                                {{ sorted-page.content }}
                            </div>
                        </div>
                    {% endcapture %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
<div class="topic">
    {% comment %} <!-- Show the Tab Options here if they exist --> {% endcomment %}
    {% if tabs != '' %}
    <div class="tabs">
        {% assign tab-labels = tabs | split:"-|-" %}
        {% for label in tab-labels %}
            {% if forloop.index0 != 0 %}
                {% if forloop.index0 == 1 %}
                    {% assign checked = ' checked' %}
                {% else %}
                    {% assign checked = '' %}
                {% endif %}
        <input type="radio" name="tab" class="tab" id="tab{{forloop.index0}}"{{checked}}/>
        <label for="tab{{forloop.index0}}">{{label}}</label>
            {% endif %}
        {% endfor %}
        <br>
        <br>
    {% endif %}
        <div class="topic-header">
    {% if child-path-size > 3 %}
            <h1>{{page.title}}</h1>
    {% endif %}
            <div class="topic-toc">
                <ul>
                    <span>Contents:</span> {% comment %} <!--TODO ADD NUMBER OF PARTS --> {% endcomment %}
                    {{ table-of-contents }}
                </ul>
            </div>
    {% if summary %}
            <div class="topic-summary">
                {{ summary }}
            </div>
    {% endif %}
        </div>
        {{ part-contents }}
    {% if tabbed-part != '' %}
    </div>
    {% endif %}
</div>