<nav class="meta-selector">
    {% assign category = "" %}
    {% assign subcategory = "" %}
    {% assign topic = "" %}
    {% assign sorted-pages = site.pages | sort: 'url' %}

    <form name="form">
        <!--<select name = "Tutorial_Menu" onChange="top.location.href = this.value; ">-->
        <select name = "Tutorial_Menu" onChange="top.location.href = this.form.Tutorial_Menu.options[this.form.Tutorial_Menu.selectedIndex].value;">
            <option selected="selected" disabled="disabled">Select a tutorial...</option>

            {% for temp-page in sorted-pages %}
                {% assign path = temp-page.url | split:"/" %}
                {% if path[1] != "documentation" or path.size < 4 %}
                    {% continue %}
                {% endif %}

                {% if category != "" and category != path[2] %}
                    {% if subcategory != "" %}
                        </optgroup>
                    {% endif %}
                    </optgroup>
                    {% assign subcategory = "" %}
                {% endif %}

                {% if category != path[2] %}
                    {% assign category = path[2] %}
                    <optgroup style="font-weight:bold;" label="{{ temp-page.title }}">
                {% endif %}

                {% if path.size == 4 %}
                    {% if subcategory != "" and subcategory != path[3] %}
                        </optgroup>
                    {% endif %}
                    {% assign subcategory = path[3] %}
                        <optgroup label="&nbsp;&nbsp;{{ temp-page.title }}">
                {% endif %}

                {% if path.size == 5 %}
                    <option value="{{ temp-page.url}}" > {{ temp-page.title }} </option>
                {% endif %}
            {% endfor %}

            {% if category != "" %}
                {% if subcategory != "" %}
                    </optgroup>
                {% endif %}
                </optgroup>
            {% endif %}
        </select>
    </form>
</nav>

