
<div class="topic">

    <div class="topic-header">
        <h1>{{page.doc-topic-title}}</h1>
        <div class="topic-summary">
            <ul>
                <span>Contents:</span> <!--TODO ADD NUMBER OF PARTS -->
                {% assign sorted-parts = site.documentation | sort: "doc-part-order" %}
                {% for part in sorted-parts %}

                {% if part.doc-part-title and part.doc-category == page.doc-category and part.doc-topic == page.doc-topic %}

                <li>
                    <svg>
                        <rect width="8" height="8"/>
                    </svg>
                    <a href="#{{part.doc-part-title}}"> {{ part.doc-part-title }} </a>
                </li>

                {% endif %}
                {% endfor %}

            </ul>
        </div>

        {% for partial in site.documentation %}
        {% if partial.doc-type and partial.doc-topic == page.doc-topic and partial.doc-category == page.doc-category%}
        <p>
            {{ partial.content }}
        </p>
        {% endif %}
        {% endfor %}

    </div>


    {% assign sorted-parts = site.documentation | sort: "doc-part-order" %}
    {% for partial in sorted-parts %}
    {% if partial.doc-part-title and partial.doc-category == page.doc-category and partial.doc-topic == page.doc-topic %}

    <div class="part-content">
        <span id="{{ partial.doc-part-title }}"> </span>

        <div class="part-header">
            <h2> {{ partial.doc-part-title }}</h2>
        </div>

        <div class="step-content">
            {{ partial.content }}
        </div>
    </div>
        {% endif %}
    {% endfor %}

</div>