<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-line-wrapper">

            <div class="footer-line1-column-wrapper">

                <!--<div class="column-left">-->

                    <!--<p>-->
                        <!--<a href="http://robots.ihmc.us/blog/"> <img src="/resources/images/running-man-logo.png" label="IHMC Robotics Blog"> </a>-->
                        <!--<b> <a href="http://robots.ihmc.us/blog/">Check out our blog!</a> </b>-->
                    <!--</p>-->


                <!--</div>-->

                <!--<div class="column-center">-->

                    <div class="icon-group">
                        <a href="https://www.facebook.com/TheIHMC">{% include facebook_circle_color.svg %}</a>
                        <a href="https://github.com/ihmcrobotics">{% include github_circle_color.svg %}</a>
                        <a href="http://twitter.com/ihmcrobotics">{% include twitter_circle_color.svg %}</a>
                        <a href="http://www.youtube.com/DRCihmcRobotics">{% include youtube_circle_color.svg %}</a>
                    </div>
                <!--</div>-->

                <!--<div class="column-right">-->

                    <!--<p>-->
                        <!--Florida Institute for Human and Machine Cognition <br>-->
                        <!--40 South Alcaniz Street Pensacola, Florida 32502 <br>-->
                        <!--(850)202-4480 <br>-->
                    <!--</p>-->

                <!--</div>-->

            </div>


            <div class="line-2">

                <p>{{ site.description }}</p>
            </div>

        </div>
    </div>

    <div>
        <a id="github-ribbon" href="https://github.com/ihmcrobotics">
            <img style="position: absolute; top: 0; left: 0; border: 0;"
                 src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67"
                 alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png">
        </a>
    </div>

</footer>
