<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-line-wrapper">

            <div class="footer-line1-column-wrapper">

                <!--<div class="column-left">-->

                    <!--<p>-->
                        <!--<a href="http://robots.ihmc.us/blog/"> <img src="/resources/images/running-man-logo.png" label="IHMC Robotics Blog"> </a>-->
                        <!--<b> <a href="http://robots.ihmc.us/blog/">Check out our blog!</a> </b>-->
                    <!--</p>-->


                <!--</div>-->

                <!--<div class="column-center">-->

                    <div class="icon-group">
                        <a href="https://www.facebook.com/TheIHMC">{% include facebook_circle_color.svg %}</a>
                        <a href="https://github.com/ihmcrobotics">{% include github_circle_color.svg %}</a>
                        <a href="http://twitter.com/ihmcrobotics">{% include twitter_circle_color.svg %}</a>
                        <a href="http://www.youtube.com/DRCihmcRobotics">{% include youtube_circle_color.svg %}</a>
                    </div>
                <!--</div>-->

                <!--<div class="column-right">-->

                    <!--<p>-->
                        <!--Florida Institute for Human and Machine Cognition <br>-->
                        <!--40 South Alcaniz Street Pensacola, Florida 32502 <br>-->
                        <!--(850)202-4480 <br>-->
                    <!--</p>-->

                <!--</div>-->

            </div>


            <div class="line-2">

                <p>{{ site.description }}</p>
            </div>

        </div>
    </div>

</footer>
