{% assign part-contents = '' %}
{% assign table-of-contents = '' %}
{% assign current-part-title = ''%}
{% assign tabbed-part = ''%}
{% assign tabs = '' %}
{% assign sorted-pages = site.pages | sort: "order" %}
{% for sorted-page in sorted-pages %}
    {% if sorted-page.category == include.category %}
        <!--Continuing a section with tabs-->
        {% if current-part-title == sorted-page.title and sorted-page.tab %}
            {% unless tabs contains sorted-page.tab %}
                {% capture tabs %}{{tabs}}-|-{{sorted-page.tab}}{% endcapture %}
            {% endunless %}
            <!-- Find the index of this tab in the tabs string -->
            {% assign tab-labels = tabs | split:"-|-" %}
            {% assign tab-index = '1' %}
            {% for label in tab-labels %}
                {% if label == sorted-page.tab %}
                    {% assign tab-index = forloop.index0 %}
                {% endif %}
            {% endfor %}
            {% capture part-contents %}{{part-contents}}
            <div id="tab{{tab-index}}-content" class="part-content tab-content">
                <div class="step-content">
                    {{ sorted-page.content }}
                </div>
            </div>
            {% endcapture %}
        {% endif %}
        <!-- Starting a new section -->
        {% if current-part-title != sorted-page.title %}
            {% assign current-part-title = sorted-page.title %}
            {% capture table-of-contents %}{{ table-of-contents }}
            <li>
                <svg>
                    <rect width="8" height="8"/>
                </svg>
                <a href="#{{sorted-page.title}}"> {{ sorted-page.title }} </a>
            </li>
            {% endcapture %}

            {% capture part-contents %}{{part-contents}}
            <div class="part-content">
                <span id="{{ sorted-page.title }}"> </span>
                <div class="part-header">
                    {% if sorted-page.full-title %}
                    <h2> {{ sorted-page.full-title }}</h2>
                    {% else %}
                    <h2> {{ sorted-page.title }}</h2>
                    {% endif %}
                </div>
            </div>
            {% endcapture %}
            <!--Starting a new section with details-->
            {% if sorted-page.tab %}
                {% assign tabbed-part = "Tabbed" %}
                {% unless tabs contains sorted-page.tab %}
                    {% capture tabs %}{{tabs}}-|-{{sorted-page.tab}}{% endcapture %}
                {% endunless %}
                <!-- Find the index of this tab in the tabs string -->
                {% assign tab-labels = tabs | split:"-|-" %}
                {% assign tab-index = '1' %}
                {% for label in tab-labels %}
                    {% if label == sorted-page.tab %}
                        {% assign tab-index = forloop.index0 %}
                    {% endif %}
                {% endfor %}
                <!-- Now start the tab-content section here. -->
                {% capture part-contents %}{{part-contents}}
                <div id="tab{{tab-index}}-content" class="part-content tab-content">
                    <div class="step-content">
                        {{ sorted-page.content }}
                    </div>
                </div>
                {% endcapture %}
            {% else %}
                {% capture part-contents %}{{part-contents}}
                <div class="part-content">
                    <div class="step-content">
                        {{ sorted-page.content }}
                    </div>
                </div>
                {% endcapture %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="topic">
    <!-- Show the Tab Options here if they exist -->
    {% if tabs != '' %}
    <div class="tabs">
        {% assign tab-labels = tabs | split:"-|-" %}
        {% for label in tab-labels %}
            {% if forloop.index0 != 0 %}
                {% if forloop.index0 == 1 %}
                    {% assign checked = ' checked' %}
                {% else %}
                    {% assign checked = '' %}
                {% endif %}
        <input type="radio" name="tab" class="tab" id="tab{{forloop.index0}}"{{checked}}/>
        <label for="tab{{forloop.index0}}">{{label}}</label>
            {% endif %}
        {% endfor %}
        <br>
        <br>
    {% endif %}
        <div class="topic-header">
            <div class="topic-summary">
                <ul>
                    <span>Contents:</span>
                    {{ table-of-contents }}
                </ul>
            </div>
        </div>
    {{ part-contents }}
    {% if tabbed-part != '' %}
    </div>
    {% endif %}
</div>