
<nav class="site-side-bar-nav">


    <ul>
        {% assign sorted-categories = site.pages | sort: "doc-category-order" %}
        {% for page in sorted-categories %}
        {% if page.doc-category-title %}

        <ul>
            <li class="categories" >
                {{ page.doc-category-title }}
            </li>

            {% assign sorted-topics = site.pages | sort: "doc-topic-order" %}
            {% for topic in sorted-topics %}


            {% if topic.doc-topic-title and topic.doc-category == page.doc-category %}
            <li>
                <a href= "{{ topic.permalink }}"> {{ topic.doc-topic-title }} </a>
            </li>
            {% endif %}

            {% endfor %}


        </ul>
        {% endif%}

        {% endfor %}
    </ul>
    
</nav>

