<div class="accordion vertical">
    <ul>
        {% assign sorted-categories = site.pages | sort: "doc-category-order" %}
        {% for page in sorted-categories %}
        {% if page.doc-category-title %}

            <li>
                {% if include.current-category == page.doc-category %}
                    {% assign is-checked = "checked" %}
                {% else %}
                    {% assign is-checked = "" %}
                {% endif %}

                <input type="radio" id="-{{ page.doc-category-title }}" name="checkbox-accordion"  {{is-checked}} />
                <label for="-{{ page.doc-category-title }}">{{ page.doc-category-title }}</label>
                <div class="content">
                    {% assign sorted-topics = site.pages | sort: "doc-topic-order" %}
                    {% for topic in sorted-topics %}
                    {% if topic.doc-topic-title and topic.doc-category == page.doc-category %}
                    <p>
                        <a href= "{{ topic.permalink }}"> {{ topic.doc-topic-title }} </a>
                    </p>

                    {% endif %}
                    {% endfor %}
                </div>
            </li>

        {% endif%}
        {% endfor %}

    </ul>
</div>



