


{% assign category = "" %}
{% assign subcategory = "" %}
{% assign topic = "" %}

{% assign current-page-path = page.url | split:"/" %}


{% assign sorted-pages = site.pages | sort: 'url' %}
<div class="outter-accordion">

    <ul>

    {% for temp-page in sorted-pages %}

        {% assign path = temp-page.url | split:"/" %}

        {% if path[1] == "documentation" and path.size == 3 %}

            {% if category != "" and category != path[2] %}

                                 </div>

                                </li> <!-- end of subcategory item -->
                            </ul>

                    </div>
                </li> <!-- end of category item -->

                {% assign subcategory = "" %}

            {% endif %}

            {% if category != path[2] %}
                <li> <!-- start of category item -->


                <h2> {{ temp-page.title }} </h2>

                <div class="accordion vertical">
                    <ul>

                {% assign category = path[2] %}
            {% endif %}

        {% endif %}

        {% if path[1] == "documentation" and path.size == 4 %}

            {% if subcategory != "" and subcategory != path[3] %}
                </div>
            </li> <!-- end of subcategory item -->
            {% endif %}

            {% if subcategory != path[3] %}
            <li><!-- start of subcategory item -->


                {% assign subcategory = path[3] %}

                {% if current-page-path[3] == subcategory and current-page-path[2] == category %}
                {% assign is-checked = "checked" %}
                {% else %}
                {% assign is-checked = "" %}
                {% endif %}


                <input type="radio" id="-{{ temp-page.title }}" name="checkbox-accordion"  {{is-checked}} />
                <label for="-{{ temp-page.title }}">{{ temp-page.title }}</label>

                <div class="content">


            {% endif %}

        {% endif %}

        {% if path[1] == "documentation" and path.size == 5 %}
                    <p>
                        <a href= "{{ temp-page.url }}"> {{ temp-page.title }} </a>
                    </p>
        {% endif %}


    {% endfor %}

    </ul>
</div>
</div>
