

<nav class="meta-selector">
    <form name="form">
        <!--<select name = "Tutorial_Menu" onChange="top.location.href = this.value; ">-->
        <select name = "Tutorial_Menu" onChange="top.location.href = this.form.Tutorial_Menu.options[this.form.Tutorial_Menu.selectedIndex].value;">
            <option selected="selected" disabled="disabled">Select a tutorial...</option>

            {% assign sorted-category = site.pages | sort: "doc-category-order" %}
            {% for page in sorted-category %}
            {% if page.doc-category-title %}

            <optgroup label="{{ page.doc-category-title }}">

                {% assign sorted-topics = site.pages | sort: "doc-topic-order" %}
                {% for topic in sorted-topics %}
                {% if topic.doc-topic-title and topic.doc-category == page.doc-category %}
                     <option value="{{topic.permalink}}" > {{ topic.doc-topic-title }} </option>
                {% endif %}
                {% endfor %}
                </optgroup>
            {% endif %}
            {% endfor %}
        </select>
    </form>
</nav>


