
/*
---
layout: default
---
<article class="post">

    {% include tutorial-selector.html %}
    <header class="post-header">

        <h1 class="post-title">{{ page.title }}
    </header>


    <div class="post-content">
        <div class="flex-container">
            <div class="flex-content">{{ content }}</div>
            <div class="flex-side-bar">{% include side-bar-navigation.html %}</div>
        </div>
    </div>

</article>

*/



.documentation-content {

   //background-color: #990099;


    min-height: 500px;

    @include media-query($on-palm) {

       min-height:0;
    }


/**
    DOCUMENTATION PAGE LAYOUT CONTENT AND NAVIGATION BAR
*/

    .flex-container {



         display: -webkit-flex;
         display: flex;
         justify-content: space-between;
         width: 100%;


       .flex-content {

            align-self: flex-start;
            padding-right:10px;
            padding-left:10px;

            margin-right:10px;
            margin-left:10px;

            flex: 4;

            // DEBUG
            //background-color: #337799;
       }

       .flex-side-bar {

            min-width: 180px;
            max-width: 205px;

           //DEBUG
           //background-color: #337700;

       }

        @include media-query($on-palm) {

          .flex-side-bar {
               display: none;
           }

        }
    }
}