---
layout: documentation-page
header-navigation-title: Documentation
title: Documentation
permalink: /documentation-main/
category: Main Pages
order: 2
---

{% assign sorted-categories = site.pages | sort: "doc-category-order" %}
{% for page in sorted-categories %}
{% if page.doc-category-title %}

    <h1> {{page.doc-category-title}} </h1>
    <p>
       {{ page.content }}
    </p>

    <div class="topic">

            {% assign sorted-topics = site.pages | sort: "doc-topic-order" %}
            {% for topic in sorted-topics %}
                {% if topic.doc-topic-title and topic.doc-category == page.doc-category %}

                <div class="topic-header">
                    <h3> {{ topic.doc-topic-title }} </h3>
                    <div class="topic-summary">
                        <ul>
                            <span>Contents:</span> <!--TODO ADD NUMBER OF PARTS -->

                            {% assign sorted-parts = site.documentation | sort: "doc-part-order" %}
                            {% for part in sorted-parts %}

                            {% if part.doc-part-title and part.doc-category == topic.doc-category and part.doc-topic == topic.doc-topic %}

                            <li>
                                <svg>
                                    <rect width="8" height="8"/>
                                </svg>
                                <a href=" {{topic.url}}/#{{part.doc-part-title}}"> {{ part.doc-part-title }} </a>
                            </li>

                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>

                    {% for summary in site.documentation %}
                    {% if summary.doc-type == "summary" and summary.doc-topic == topic.doc-topic and summary.doc-category == topic.doc-category%}

                        {{ summary.content }}

                    {% endif %}
                    {% endfor %}

                </div>



                {% endif %}
            {% endfor %}

    </div>

{% endif%}
{% endfor %}



