---
layout: tutorial-page

---


<ul>
    {% for page in site.documentation %}

    {% if page.doc-category-title %}

    <ul>
        <li class="categories" >
            {{ page.doc-category-title }}
        </li>

        {% for topic in site.documentation %}

        {% if topic.doc-topic-title and topic.doc-category == page.doc-category %}
        <li>
            <a href= "{{ topic.url }}"> {{ topic.doc-topic-title }} </a>
        </li>
        {% endif %}

        {% endfor %}

    </ul>
    {% endif%}

    {% endfor %}
</ul>



<h3> List of all html pages :</h3>

<ul>
    {% for page in site.documentation %}

    <li>
        {{ page.doc-category-title }}
    </li>

    {% endfor %}
</ul>




<h3> List of all categories and details:</h3>

<ul>
    {% for page in site.pages %}

    {% if page.doc-category-title %}
    <li>
        {{ page }}
    </li>

    {% endif%}

    {% endfor %}
</ul>



<hr>




<h3> List of all topics in categories: </h3>

<ul>
    {% for page in site.pages %}

    {% if page.doc-category-title %}

    {% for topic in site.pages %}

    {% if topic.doc-topic-title and topic.doc-category == page.doc-category %}
    <li>
        {{ page.doc-category-title }} =>  {{ topic.doc-topic-title }}
    </li>
    {% endif %}

    {% endfor %}


    {% endif%}

    {% endfor %}
</ul>







<h3> List of all parts in topics:</h3>

<ul>
    {% for page in site.pages %}

    {% if page.doc-category-title %}

    {% for topic in site.pages %}

    {% if topic.doc-topic-title and topic.doc-category == page.doc-category %}

    {% for part in site.pages %}

    {% if part.doc-part-title and part.doc-category == page.doc-category and part.doc-topic == topic.doc-topic %}
    <li>

        {{ page.doc-category-title }} =>  {{ topic.doc-topic-title }} => {{ part.doc-part-title }}}

    </li>
    {% endif %}
    {% endfor %}

    {% endif %}

    {% endfor %}


    {% endif%}

    {% endfor %}
</ul>



