---

layout: installation-page
header-navigation-title: Quick Start
title: Quick Start
permalink: /quickstart/
category: Main Pages
order: 1

---

<div class="topic">
    {% assign part-contents = '' %}
    {% assign table-of-contents = '' %}

    {% assign sorted-pages = site.pages | sort: "order" %}
    {% for sorted-page in sorted-pages %}
        {% if sorted-page.category == 'quickStart' %}
            {% capture table-of-contents %}{{ table-of-contents }}
                <li>
                    <svg>
                        <rect width="8" height="8"/>
                    </svg>
                    <a href="#{{sorted-page.title}}"> {{ sorted-page.title }} </a>
                </li>
            {% endcapture %}
            {% capture part-contents %}{{part-contents}}
                <div class="part-content">
                    <span id="{{ sorted-page.title }}"> </span>

                    <div class="part-header">
                        {% if sorted-page.full-title %}
                            <h2> {{ sorted-page.full-title }}</h2>
                        {% else %}
                            <h2> {{ sorted-page.title }}</h2>
                        {% endif %}
                    </div>

                    <div class="step-content">
                        {{ sorted-page.content }}
                    </div>
                </div>
            {% endcapture %}
        {% endif %}
    {% endfor %}

    <div class="topic-header">
        <div class="topic-summary">
            <ul>
                <span>Contents:</span> <!--TODO ADD NUMBER OF PARTS -->
                {{ table-of-contents }}
            </ul>
        </div>
    </div>
    {{ part-contents }}
</div>