---
layout: tutorial-page

doc-category: cat2

doc-topic: topic2
doc-topic-title: topic 2 title

permalink: /documentation-main/category2/topic2.html
---



<div class="topic">

    <div class="topic-header">
        <h1>Current This Topic Title: {{page.doc-topic-title}}</h1>
        <div class="topic-summary">
            <ul>
                <span>Number of parts:</span> <!--TODO ADD NUMBER OF PARTS -->
                {% for part in site.documentation %}
                {% if part.doc-part-title and part.doc-category == page.doc-category and part.doc-topic == page.doc-topic %}

                <li>
                    <svg>
                        <rect width="8" height="8"/>
                    </svg>
                    <a href="#{{part.doc-part-title}}"> {{ part.doc-part-title }} </a>
                </li>

                {% endif %}
                {% endfor %}

            </ul>
        </div>

        {% for partial in site.documentation %}
        {% if partial.doc-type and partial.doc-topic == page.doc-topic and partial.doc-category == page.doc-category%}

        {{ partial.content }}

        {% endif %}
        {% endfor %}

    </div>


    <div class="part-content">

        {% for partial in site.documentation %}
        {% if partial.doc-part-title and partial.doc-category == page.doc-category and partial.doc-topic == page.doc-topic %}

        <span id="{{ partial.doc-part-title }}"> </span>

        <div class="part-header">
            <h2> {{ partial.doc-part-title }}</h2>
        </div>

        <div class="step-content">

            {{ partial.content }}
        </div>

        {% endif %}
        {% endfor %}

    </div>

</div>