{% assign path = page.url | split:"/" %}
{% assign page-group = path[1] %}
{% assign sorted-pages = site.pages | sort: 'url' %}
{% assign page-title = page.title %}
{% for sorted-page in sorted-pages %}
    {% assign path = sorted-page.url | split:"/" %}
    {% assign page-type = sorted-page.url | slice: -1 %}
    {% if path.size == 2 and path[1] == page-group and page-type == "/" %}
        {% assign page-title = sorted-page.title %}
        {% break %}
    {% endif %}
{% endfor %}
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<article class="post">
    <div class="documentation-content">
        {% include mobile-nav-bar.html %}
        <header class="post-header">
            <h1 class="post-title">{{ page-title }} </h1>
        </header>
        <div class="flex-container">
            <div class="flex-content">{{ content }}</div>
            <div class="flex-side-bar">{% include side-bar-nav.html %}</div>
        </div>
    </div>
</article>
{% include footer.html %}
</body>
</html>



